@charset "UTF-8";
/*
* Symbolset
* www.symbolset.com
* Copyright © 2012 Oak Studios LLC
* 
* Upload this file to your web server
* and place this within your <head> tags.
* <link href="webfonts/ss-standard.css" rel="stylesheet" />
*/
@font-face {
  font-family: "SSStandard";
  src: url("../fonts/ss-standard/webfonts/ss-standard.eot");
  src: url("../fonts/ss-standard/webfonts/ss-standard.eot?#iefix") format("embedded-opentype"), url("../fonts/ss-standard/webfonts/ss-standard.woff") format("woff"), url("../fonts/ss-standard/webfonts/ss-standard.ttf") format("truetype"), url("../fonts/ss-standard/webfonts/ss-standard.svg#SSStandard") format("svg");
  font-weight: normal;
  font-style: normal;
}

/* line 28, ../../sass/typography/ss-standard.scss */
.ss-icon, [class^="ss-"]:before, [class*=" ss-"]:before,
.ss-icon.ss-standard, [class^="ss-"].ss-standard:before, [class*=" ss-"].ss-standard:before {
  font-family: "SSStandard";
  font-style: normal;
  font-weight: normal;
  text-decoration: none;
  text-rendering: optimizeLegibility;
  white-space: nowrap;
  -webkit-font-feature-settings: "liga", "dlig";
  -moz-font-feature-settings: "liga=1, dlig=1";
  -moz-font-feature-settings: "liga", "dlig";
  -ms-font-feature-settings: "liga", "dlig";
  -o-font-feature-settings: "liga", "dlig";
  font-feature-settings: "liga", "dlig";
  line-height: 1.5em;
}

/* line 45, ../../sass/typography/ss-standard.scss */
.ss-cursor:before {
  content: '';
}

/* line 45, ../../sass/typography/ss-standard.scss */
.ss-crosshair:before {
  content: '⌖';
}

/* line 45, ../../sass/typography/ss-standard.scss */
.ss-search:before {
  content: '🔎';
}

/* line 45, ../../sass/typography/ss-standard.scss */
.ss-view:before {
  content: '👀';
}

/* line 45, ../../sass/typography/ss-standard.scss */
.ss-attach:before {
  content: '📎';
}

/* line 45, ../../sass/typography/ss-standard.scss */
.ss-link:before {
  content: '🔗';
}

/* line 45, ../../sass/typography/ss-standard.scss */
.ss-move:before {
  content: '';
}

/* line 45, ../../sass/typography/ss-standard.scss */
.ss-write:before {
  content: '✎';
}

/* line 45, ../../sass/typography/ss-standard.scss */
.ss-writingdisabled:before {
  content: '';
}

/* line 45, ../../sass/typography/ss-standard.scss */
.ss-erase:before {
  content: '✐';
}

/* line 45, ../../sass/typography/ss-standard.scss */
.ss-compose:before {
  content: '📝';
}

/* line 45, ../../sass/typography/ss-standard.scss */
.ss-lock:before {
  content: '🔒';
}

/* line 45, ../../sass/typography/ss-standard.scss */
.ss-unlock:before {
  content: '🔓';
}

/* line 45, ../../sass/typography/ss-standard.scss */
.ss-key:before {
  content: '🔑';
}

/* line 45, ../../sass/typography/ss-standard.scss */
.ss-backspace:before {
  content: '⌫';
}

/* line 45, ../../sass/typography/ss-standard.scss */
.ss-ban:before {
  content: '🚫';
}

/* line 45, ../../sass/typography/ss-standard.scss */
.ss-trash:before {
  content: '';
}

/* line 45, ../../sass/typography/ss-standard.scss */
.ss-target:before {
  content: '◎';
}

/* line 45, ../../sass/typography/ss-standard.scss */
.ss-tag:before {
  content: '';
}

/* line 45, ../../sass/typography/ss-standard.scss */
.ss-bookmark:before {
  content: '🔖';
}

/* line 45, ../../sass/typography/ss-standard.scss */
.ss-flag:before {
  content: '⚑';
}

/* line 45, ../../sass/typography/ss-standard.scss */
.ss-like:before {
  content: '👍';
}

/* line 45, ../../sass/typography/ss-standard.scss */
.ss-dislike:before {
  content: '👎';
}

/* line 45, ../../sass/typography/ss-standard.scss */
.ss-heart:before {
  content: '♥';
}

/* line 45, ../../sass/typography/ss-standard.scss */
.ss-halfheart:before {
  content: '';
}

/* line 45, ../../sass/typography/ss-standard.scss */
.ss-star:before {
  content: '⋆';
}

/* line 45, ../../sass/typography/ss-standard.scss */
.ss-halfstar:before {
  content: '';
}

/* line 45, ../../sass/typography/ss-standard.scss */
.ss-sample:before {
  content: '';
}

/* line 45, ../../sass/typography/ss-standard.scss */
.ss-crop:before {
  content: '';
}

/* line 45, ../../sass/typography/ss-standard.scss */
.ss-layers:before {
  content: '';
}

/* line 45, ../../sass/typography/ss-standard.scss */
.ss-phone:before {
  content: '📞';
}

/* line 45, ../../sass/typography/ss-standard.scss */
.ss-phonedisabled:before {
  content: '';
}

/* line 45, ../../sass/typography/ss-standard.scss */
.ss-rss:before {
  content: '';
}

/* line 45, ../../sass/typography/ss-standard.scss */
.ss-facetime:before {
  content: '';
}

/* line 45, ../../sass/typography/ss-standard.scss */
.ss-reply:before {
  content: '↩';
}

/* line 45, ../../sass/typography/ss-standard.scss */
.ss-mail:before {
  content: '✉';
}

/* line 45, ../../sass/typography/ss-standard.scss */
.ss-inbox:before {
  content: '📥';
}

/* line 45, ../../sass/typography/ss-standard.scss */
.ss-chat:before {
  content: '💬';
}

/* line 45, ../../sass/typography/ss-standard.scss */
.ss-user:before {
  content: '👤';
}

/* line 45, ../../sass/typography/ss-standard.scss */
.ss-femaleuser:before {
  content: '👧';
}

/* line 45, ../../sass/typography/ss-standard.scss */
.ss-users:before {
  content: '👥';
}

/* line 45, ../../sass/typography/ss-standard.scss */
.ss-cart:before {
  content: '';
}

/* line 45, ../../sass/typography/ss-standard.scss */
.ss-creditcard:before {
  content: '💳';
}

/* line 45, ../../sass/typography/ss-standard.scss */
.ss-barchart:before {
  content: '📊';
}

/* line 45, ../../sass/typography/ss-standard.scss */
.ss-piechart:before {
  content: '';
}

/* line 45, ../../sass/typography/ss-standard.scss */
.ss-box:before {
  content: '📦';
}

/* line 45, ../../sass/typography/ss-standard.scss */
.ss-home:before {
  content: '⌂';
}

/* line 45, ../../sass/typography/ss-standard.scss */
.ss-globe:before {
  content: '🌎';
}

/* line 45, ../../sass/typography/ss-standard.scss */
.ss-navigate:before {
  content: '';
}

/* line 45, ../../sass/typography/ss-standard.scss */
.ss-compass:before {
  content: '';
}

/* line 45, ../../sass/typography/ss-standard.scss */
.ss-signpost:before {
  content: '';
}

/* line 45, ../../sass/typography/ss-standard.scss */
.ss-location:before {
  content: '';
}

/* line 45, ../../sass/typography/ss-standard.scss */
.ss-map:before {
  content: '';
}

/* line 45, ../../sass/typography/ss-standard.scss */
.ss-pin:before {
  content: '📍';
}

/* line 45, ../../sass/typography/ss-standard.scss */
.ss-database:before {
  content: '';
}

/* line 45, ../../sass/typography/ss-standard.scss */
.ss-music:before {
  content: '♫';
}

/* line 45, ../../sass/typography/ss-standard.scss */
.ss-mic:before {
  content: '🎤';
}

/* line 45, ../../sass/typography/ss-standard.scss */
.ss-volume:before {
  content: '🔈';
}

/* line 45, ../../sass/typography/ss-standard.scss */
.ss-volumelow:before {
  content: '🔉';
}

/* line 45, ../../sass/typography/ss-standard.scss */
.ss-volumehigh:before {
  content: '🔊';
}

/* line 45, ../../sass/typography/ss-standard.scss */
.ss-airplay:before {
  content: '';
}

/* line 45, ../../sass/typography/ss-standard.scss */
.ss-camera:before {
  content: '📷';
}

/* line 45, ../../sass/typography/ss-standard.scss */
.ss-picture:before {
  content: '🌄';
}

/* line 45, ../../sass/typography/ss-standard.scss */
.ss-video:before {
  content: '📹';
}

/* line 45, ../../sass/typography/ss-standard.scss */
.ss-play:before {
  content: '▶';
}

/* line 45, ../../sass/typography/ss-standard.scss */
.ss-pause:before {
  content: '';
}

/* line 45, ../../sass/typography/ss-standard.scss */
.ss-stop:before {
  content: '■';
}

/* line 45, ../../sass/typography/ss-standard.scss */
.ss-record:before {
  content: '●';
}

/* line 45, ../../sass/typography/ss-standard.scss */
.ss-rewind:before {
  content: '⏪';
}

/* line 45, ../../sass/typography/ss-standard.scss */
.ss-fastforward:before {
  content: '⏩';
}

/* line 45, ../../sass/typography/ss-standard.scss */
.ss-skipback:before {
  content: '⏮';
}

/* line 45, ../../sass/typography/ss-standard.scss */
.ss-skipforward:before {
  content: '⏭';
}

/* line 45, ../../sass/typography/ss-standard.scss */
.ss-eject:before {
  content: '⏏';
}

/* line 45, ../../sass/typography/ss-standard.scss */
.ss-repeat:before {
  content: '🔁';
}

/* line 45, ../../sass/typography/ss-standard.scss */
.ss-replay:before {
  content: '↺';
}

/* line 45, ../../sass/typography/ss-standard.scss */
.ss-shuffle:before {
  content: '🔀';
}

/* line 45, ../../sass/typography/ss-standard.scss */
.ss-notebook:before {
  content: '📓';
}

/* line 45, ../../sass/typography/ss-standard.scss */
.ss-grid:before {
  content: '';
}

/* line 45, ../../sass/typography/ss-standard.scss */
.ss-rows:before {
  content: '';
}

/* line 45, ../../sass/typography/ss-standard.scss */
.ss-columns:before {
  content: '';
}

/* line 45, ../../sass/typography/ss-standard.scss */
.ss-desktop:before {
  content: '💻';
}

/* line 45, ../../sass/typography/ss-standard.scss */
.ss-laptop:before {
  content: '';
}

/* line 45, ../../sass/typography/ss-standard.scss */
.ss-tablet:before {
  content: '';
}

/* line 45, ../../sass/typography/ss-standard.scss */
.ss-cell:before {
  content: '📱';
}

/* line 45, ../../sass/typography/ss-standard.scss */
.ss-battery:before {
  content: '🔋';
}

/* line 45, ../../sass/typography/ss-standard.scss */
.ss-batteryhigh:before {
  content: '';
}

/* line 45, ../../sass/typography/ss-standard.scss */
.ss-batterymedium:before {
  content: '';
}

/* line 45, ../../sass/typography/ss-standard.scss */
.ss-batterylow:before {
  content: '';
}

/* line 45, ../../sass/typography/ss-standard.scss */
.ss-batteryempty:before {
  content: '';
}

/* line 45, ../../sass/typography/ss-standard.scss */
.ss-clouddownload:before {
  content: '';
}

/* line 45, ../../sass/typography/ss-standard.scss */
.ss-download:before {
  content: '';
}

/* line 45, ../../sass/typography/ss-standard.scss */
.ss-cloudupload:before {
  content: '';
}

/* line 45, ../../sass/typography/ss-standard.scss */
.ss-upload:before {
  content: '';
}

/* line 45, ../../sass/typography/ss-standard.scss */
.ss-fork:before {
  content: '';
}

/* line 45, ../../sass/typography/ss-standard.scss */
.ss-merge:before {
  content: '';
}

/* line 45, ../../sass/typography/ss-standard.scss */
.ss-refresh:before {
  content: '↻';
}

/* line 45, ../../sass/typography/ss-standard.scss */
.ss-sync:before {
  content: '';
}

/* line 45, ../../sass/typography/ss-standard.scss */
.ss-loading:before {
  content: '';
}

/* line 45, ../../sass/typography/ss-standard.scss */
.ss-wifi:before {
  content: '';
}

/* line 45, ../../sass/typography/ss-standard.scss */
.ss-connection:before {
  content: '';
}

/* line 45, ../../sass/typography/ss-standard.scss */
.ss-file:before {
  content: '📄';
}

/* line 45, ../../sass/typography/ss-standard.scss */
.ss-folder:before {
  content: '📁';
}

/* line 45, ../../sass/typography/ss-standard.scss */
.ss-quote:before {
  content: '“';
}

/* line 45, ../../sass/typography/ss-standard.scss */
.ss-text:before {
  content: '';
}

/* line 45, ../../sass/typography/ss-standard.scss */
.ss-font:before {
  content: '';
}

/* line 45, ../../sass/typography/ss-standard.scss */
.ss-print:before {
  content: '⎙';
}

/* line 45, ../../sass/typography/ss-standard.scss */
.ss-fax:before {
  content: '📠';
}

/* line 45, ../../sass/typography/ss-standard.scss */
.ss-list:before {
  content: '';
}

/* line 45, ../../sass/typography/ss-standard.scss */
.ss-layout:before {
  content: '';
}

/* line 45, ../../sass/typography/ss-standard.scss */
.ss-action:before {
  content: '';
}

/* line 45, ../../sass/typography/ss-standard.scss */
.ss-expand:before {
  content: '⤢';
}

/* line 45, ../../sass/typography/ss-standard.scss */
.ss-contract:before {
  content: '';
}

/* line 45, ../../sass/typography/ss-standard.scss */
.ss-help:before {
  content: '❓';
}

/* line 45, ../../sass/typography/ss-standard.scss */
.ss-info:before {
  content: 'ℹ';
}

/* line 45, ../../sass/typography/ss-standard.scss */
.ss-alert:before {
  content: '⚠';
}

/* line 45, ../../sass/typography/ss-standard.scss */
.ss-caution:before {
  content: '⛔';
}

/* line 45, ../../sass/typography/ss-standard.scss */
.ss-plus:before {
  content: '+';
}

/* line 45, ../../sass/typography/ss-standard.scss */
.ss-hyphen:before {
  content: '-';
}

/* line 45, ../../sass/typography/ss-standard.scss */
.ss-dropdown:before {
  content: '▾';
}

/* line 45, ../../sass/typography/ss-standard.scss */
.ss-check:before {
  content: '✓';
}

/* line 45, ../../sass/typography/ss-standard.scss */
.ss-delete:before {
  content: '␡';
}

/* line 45, ../../sass/typography/ss-standard.scss */
.ss-settings:before {
  content: '⚙';
}

/* line 45, ../../sass/typography/ss-standard.scss */
.ss-dashboard:before {
  content: '';
}

/* line 45, ../../sass/typography/ss-standard.scss */
.ss-notifications:before {
  content: '🔔';
}

/* line 45, ../../sass/typography/ss-standard.scss */
.ss-notificationsdisabled:before {
  content: '🔕';
}

/* line 45, ../../sass/typography/ss-standard.scss */
.ss-clock:before {
  content: '⏲';
}

/* line 45, ../../sass/typography/ss-standard.scss */
.ss-stopwatch:before {
  content: '⏱';
}

/* line 45, ../../sass/typography/ss-standard.scss */
.ss-calendar:before {
  content: '📆';
}

/* line 45, ../../sass/typography/ss-standard.scss */
.ss-calendaradd:before {
  content: '';
}

/* line 45, ../../sass/typography/ss-standard.scss */
.ss-calendarremove:before {
  content: '';
}

/* line 45, ../../sass/typography/ss-standard.scss */
.ss-calendarcheck:before {
  content: '';
}

/* line 45, ../../sass/typography/ss-standard.scss */
.ss-briefcase:before {
  content: '💼';
}

/* line 45, ../../sass/typography/ss-standard.scss */
.ss-cloud:before {
  content: '☁';
}

/* line 45, ../../sass/typography/ss-standard.scss */
.ss-navigateup:before {
  content: '';
}

/* line 45, ../../sass/typography/ss-standard.scss */
.ss-navigateright:before {
  content: '▻';
}

/* line 45, ../../sass/typography/ss-standard.scss */
.ss-navigatedown:before {
  content: '';
}

/* line 45, ../../sass/typography/ss-standard.scss */
.ss-navigateleft:before {
  content: '◅';
}

/* line 45, ../../sass/typography/ss-standard.scss */
.ss-up:before {
  content: '⬆';
}

/* line 45, ../../sass/typography/ss-standard.scss */
.ss-upright:before {
  content: '⬈';
}

/* line 45, ../../sass/typography/ss-standard.scss */
.ss-right:before {
  content: '➡';
}

/* line 45, ../../sass/typography/ss-standard.scss */
.ss-downright:before {
  content: '⬊';
}

/* line 45, ../../sass/typography/ss-standard.scss */
.ss-down:before {
  content: '⬇';
}

/* line 45, ../../sass/typography/ss-standard.scss */
.ss-downleft:before {
  content: '⬋';
}

/* line 45, ../../sass/typography/ss-standard.scss */
.ss-left:before {
  content: '⬅';
}

/* line 45, ../../sass/typography/ss-standard.scss */
.ss-upleft:before {
  content: '⬉';
}

/* line 45, ../../sass/typography/ss-standard.scss */
.ss-retweet:before {
  content: '';
}
