/*  original code @ http://www.htmldog.com/articles/suckerfish/dropdowns/example/  */
/* line 5, ../../sass/navigation/suckerfish.scss */
ul#sfnav, ul.metanavi {
  width: auto;
  list-style: none;
  line-height: 1em;
  padding: 0;
  margin: 1.5em 0 0 1.5em;
  position: relative;
}
/* line 13, ../../sass/navigation/suckerfish.scss */
ul#sfnav li, ul.metanavi li {
  width: 8em;
  line-height: 1em;
  display: block;
  left: -3000px;
  float: left;
  padding: 0;
  margin: 0;
}
/* line 22, ../../sass/navigation/suckerfish.scss */
ul#sfnav li a, ul#sfnav li strong, ul.metanavi li a, ul.metanavi li strong {
  text-align: center;
  color: #222222;
  text-transform: none;
  text-decoration: none;
  display: block;
  border: 0px solid white;
  padding: 0.5em;
  font-weight: normal;
  font-family: Helvetica, Arial, sans-serif;
  font-weight: normal;
  background: transparent;
}
/* line 35, ../../sass/navigation/suckerfish.scss */
ul#sfnav li a:hover, ul#sfnav li strong:hover, ul.metanavi li a:hover, ul.metanavi li strong:hover {
  background: white;
}
/* line 39, ../../sass/navigation/suckerfish.scss */
ul#sfnav li a.current, ul#sfnav li strong.current, ul.metanavi li a.current, ul.metanavi li strong.current {
  background: white;
  color: #222222;
}
/* line 42, ../../sass/navigation/suckerfish.scss */
ul#sfnav li a.current:hover, ul#sfnav li strong.current:hover, ul.metanavi li a.current:hover, ul.metanavi li strong.current:hover {
  color: #222222;
}
/* line 47, ../../sass/navigation/suckerfish.scss */
ul#sfnav li a.active, ul#sfnav li strong.active, ul.metanavi li a.active, ul.metanavi li strong.active {
  background: white;
  color: #222222;
  font-weight: bold;
}
/* line 51, ../../sass/navigation/suckerfish.scss */
ul#sfnav li a.active:hover, ul#sfnav li strong.active:hover, ul.metanavi li a.active:hover, ul.metanavi li strong.active:hover {
  color: #222222;
}
/* line 63, ../../sass/navigation/suckerfish.scss */
ul#sfnav li strong, ul.metanavi li strong {
  font-weight: bold;
}
/* line 67, ../../sass/navigation/suckerfish.scss */
ul#sfnav li ul, ul.metanavi li ul {
  position: absolute;
  left: -999em;
  width: 13em;
  margin: 0 0 0 0em;
}
/* line 72, ../../sass/navigation/suckerfish.scss */
ul#sfnav li ul li, ul.metanavi li ul li {
  height: auto;
  width: 100%;
}
/* line 75, ../../sass/navigation/suckerfish.scss */
ul#sfnav li ul li ul, ul.metanavi li ul li ul {
  margin: -2.125em 0 0 14.25em;
}
/* line 79, ../../sass/navigation/suckerfish.scss */
ul#sfnav li ul li a, ul#sfnav li ul li strong, ul.metanavi li ul li a, ul.metanavi li ul li strong {
  display: block;
  text-align: left !important;
  font-weight: normal;
  background-color: white;
  border: 2px solid white;
  border-bottom: none;
  border-bottom-width: 0;
  width: 100%;
}
/* line 88, ../../sass/navigation/suckerfish.scss */
ul#sfnav li ul li a:hover, ul#sfnav li ul li strong:hover, ul.metanavi li ul li a:hover, ul.metanavi li ul li strong:hover {
  background-color: #fcd9d9;
}
/* line 92, ../../sass/navigation/suckerfish.scss */
ul#sfnav li ul li a.current, ul#sfnav li ul li strong.current, ul.metanavi li ul li a.current, ul.metanavi li ul li strong.current {
  background-color: white;
  color: #222222;
}
/* line 95, ../../sass/navigation/suckerfish.scss */
ul#sfnav li ul li a.current:hover, ul#sfnav li ul li strong.current:hover, ul.metanavi li ul li a.current:hover, ul.metanavi li ul li strong.current:hover {
  color: #222222;
}
/* line 99, ../../sass/navigation/suckerfish.scss */
ul#sfnav li ul li a.active, ul#sfnav li ul li strong.active, ul.metanavi li ul li a.active, ul.metanavi li ul li strong.active {
  background: white;
  color: #222222;
}
/* line 108, ../../sass/navigation/suckerfish.scss */
ul#sfnav li ul li a.last, ul#sfnav li ul li a.single, ul#sfnav li ul li strong.last, ul#sfnav li ul li strong.single, ul.metanavi li ul li a.last, ul.metanavi li ul li a.single, ul.metanavi li ul li strong.last, ul.metanavi li ul li strong.single {
  border-bottom: 2px solid white;
}
/* line 115, ../../sass/navigation/suckerfish.scss */
ul#sfnav li ul li strong, ul.metanavi li ul li strong {
  text-align: left;
  font-weight: bold;
}
/* line 119, ../../sass/navigation/suckerfish.scss */
ul#sfnav li ul li ul, ul.metanavi li ul li ul {
  width: 14em;
}

/* line 128, ../../sass/navigation/suckerfish.scss */
ul.metanavi {
  float: right;
  margin: 0 1em 0 0;
}

/* line 134, ../../sass/navigation/suckerfish.scss */
#sfnav li:hover ul ul, #sfnav li:hover ul ul ul, #sfnav .navfxenabled li:hover ul, #sfnav .navfxenabled li:hover ul ul, #sfnav .navfxenabled li:hover ul ul ul, #sfnav .navfxenabled li.over ul ul, #sfnav .navfxenabled li.over ul ul ul {
  left: -999em;
}

/* line 138, ../../sass/navigation/suckerfish.scss */
#sfnav li:hover ul, #sfnav .navfxenabled li.over ul {
  left: auto;
}

/* line 142, ../../sass/navigation/suckerfish.scss */
#sfnav li li:hover ul, #sfnav li li li:hover ul, #sfnav .navfxenabled li li.over ul, #sfnav .navfxenabled li li li.over ul {
  left: -2px;
}

/* line 146, ../../sass/navigation/suckerfish.scss */
#sfnav li li.over ul.leftover, #sfnav .navfxenabled li li li.over ul.leftover, #sfnav .navfxenabled li li li li.over ul.leftover {
  left: -28.44em;
}

@media screen and (max-width: 740px) {
  /* line 151, ../../sass/navigation/suckerfish.scss */
  ul#sfnav, ul.metanavi {
    margin: 0;
  }
  /* line 153, ../../sass/navigation/suckerfish.scss */
  ul#sfnav li, ul.metanavi li {
    width: 6em;
  }
  /* line 156, ../../sass/navigation/suckerfish.scss */
  ul#sfnav li a, ul.metanavi li a {
    padding: 0.5em;
    margin: 0;
    text-align: center;
  }
}
@media screen and (max-width: 480px) {
  /* line 165, ../../sass/navigation/suckerfish.scss */
  ul.metanavi {
    float: left;
  }

  /* line 169, ../../sass/navigation/suckerfish.scss */
  ul#sfnav, ul.metanavi {
    margin: 0;
  }
  /* line 171, ../../sass/navigation/suckerfish.scss */
  ul#sfnav li a, ul.metanavi li a {
    padding: 0.5em;
    margin: 0;
    text-align: center;
  }

  /* line 178, ../../sass/navigation/suckerfish.scss */
  ul#sfnav li ul li a {
    display: none;
  }
  /* line 180, ../../sass/navigation/suckerfish.scss */
  ul#sfnav li ul li a ul {
    display: none;
  }
}
