<!DOCTYPE html>
<html lang='en'>
  <head>
    <meta charset='utf-8' />
    <title>Sitepackage Theme</title>
    <!-- Mobile viewport optimisation -->
    <meta content='width=device-width, initial-scale=1.0' name='viewport' />
    <!-- (en) Add your meta data here -->
    <!-- (de) Fuegen Sie hier ihre Meta-Daten ein -->
    <link rel="stylesheet" type="text/css" href="js/jquery/fancybox/jquery.fancybox-1.3.4.css" media="all" />
    <link rel="stylesheet" type="text/css" href="typo3conf/ext/user_orthoquest/res/formhandler/shared/skins/css/cupertino/jquery-ui-1.9.0.custom.min.css" media="all" />
    <link rel="stylesheet" type="text/css" href="css/screen.css" media="all" />
    <!--[if lte IE 7]>
    <link href="css/core/iehacks.css" rel="stylesheet" type="text/css" />
    <![endif]-->
    <!--[if lt IE 9]>
    <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

  </head>
  <body class='ym-231 normal-right'>
    <ul class='ym-skiplinks'>
      <li>
        <a class='ym-skip' href='#nav'>Skip to navigation (Press Enter)</a>
      </li>
      <li>
        <a class='ym-skip' href='#main'>Skip to main content (Press Enter)</a>
      </li>
    </ul>
    <header>
      <div class='ym-wrapper'>
        <div class='ym-wbox'>
          <img src="images/logo_neu.jpg" style="float: left;" />
        </div>
      </div>
    </header>

    <nav id='mainmenu'>
      <div class='ym-wrapper'>
        <div class='ym-wbox'>
          <div class='ym-hlist'>
            <ul id="sfnav">
              <li>
                <a class='first ss-home' href='#'></a>
              </li>
              <li>
                <a href='#'>Patienteninfo</a>
              </li>
              <li>
                <a href='#'>Unsere Spezialisten</a>
              </li>
              <li>
                <a class='' href='#'>FAQ</a>
              </li>
              <li>
                <a class="last" href="#">Login</a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </nav>
    <div id='main'>
      <div class='ym-column linearize-level-1'>
        <div class='ym-wrapper'>
          <div class='ym-wbox'>
            <aside class='ym-col1'>
              <div class='ym-cbox-right'>

                <!-- content -->

                
                <div class="ym-vlist"><h6 >Your account</h6>
                  <ul>
                    <li>
                      <a class="first" href="#">Edit profile</a>
                    </li>
                    <li>
                      <a >Change password</a>
                    </li>
                    <li>
                      <a class="" href="#">Calculate BMI</a>
                    </li>
                    <li>
                      <a class="last" href="#">Logout</a>
                    </li>
                  </ul>
                </div>
              </div>
            </aside>
            <div class='ym-col3'>
              <div class='ym-cbox-left'>
                <h3><span class="ss-icon">User</span>Heading</h3>
                <p>
                  Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum.
                </p>

                <p>
                  Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum.
                </p>

                <p>
                  Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum.
                </p>

                <p>
                  Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum.
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <footer>
      <div class='ym-wrapper'>
        <div class='ym-wbox'>
          <p>
            © Company 2011 &ndash; Layout based on
            <a href='http://www.yaml.de'>YAML</a>
          </p>
        </div>
      </div>
    </footer>
    </div>
    </div>
    <!-- full skip link functionality in webkit browsers -->
    <script src='../yaml/core/js/yaml-focusfix.js'></script>
  </body>
</html>
