<!DOCTYPE html>
<html lang='en'>
  <head>
    <meta charset='utf-8' />
    <title>Sitepackage Theme</title>
    <!-- Mobile viewport optimisation -->
    <meta content='width=device-width, initial-scale=1.0' name='viewport' />
    <!-- (en) Add your meta data here -->
    <!-- (de) Fuegen Sie hier ihre Meta-Daten ein -->
    <link href='css/central.css' rel='stylesheet' type='text/css' />
    <!--[if lte IE 7]>
      <link href="css/core/iehacks.css" rel="stylesheet" type="text/css" />
    <![endif]-->
    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
  </head>
  <body class='ym-312 left-normal'>
    <!-- ###DOCUMENT_BODY### begin -->
    <ul class='ym-skiplinks'>
      <li>
        <a class='ym-skip' href='#nav'>Skip to navigation (Press Enter)</a>
      </li>
      <li>
        <a class='ym-skip' href='#main'>Skip to main content (Press Enter)</a>
      </li>
    </ul>
    <div class='ym-wrapper'>
      <div class='ym-wbox'>
      
        <nav id='topnavi'>###TOPNAVI###</nav>
        <header>
          ###HEADER###
        </header>
        <nav id='mainmenu'>
          <div class='ym-hlist'>
          
    ###MAINNAVI###
          </div>
        </nav>
        <nav id='breadcrumbs'>###BREADCRUMBS###</nav>
        <div id='main'>
          <div class='ym-column linearize-level-1'>
            <div class='ym-col1'>
              <div class='ym-cbox-left'>
                ###CONTENT_NORMAL###
              </div>
            </div>
            <aside class='ym-col3'>
              <div class='ym-cbox-right'>
              ###CONTENT_RIGHT###
              </div>
            </aside>
          </div>
        </div>
        <footer>
          <p>
            
    ###FOOTER###
          </p>
        </footer>
      </div>
    </div>
    <!-- full skip link functionality in webkit browsers -->
    <!-- ###DOCUMENT_BODY### end -->
  </body>
</html>
